body {
    background-image: url(https://raw.githubusercontent.com/dasha18ryab/WakeUp/master/look.com.ua-168032.jpg);
    font-style: oblique;
    font-size: 18px;
    color: orange;
}
body {
    display: block;
    margin: 8px;}