div{border:3px solid pink;
margin: 5px;
background-color:blue;}

#b1{background-color: yellow}

#b3{background-color: grey;
padding :5px;
width:25%;
float: left;}

#b4{background-color: grey;
padding :5px;
width:60%;
float: left;}

#b5{background-color: grey;
padding :5px;
width:13%;
float: left;}

#b6{ width:100%;
clear: both;}